<button class="cta-button font-1 rounded-full transition-colors duration-300 shadow-[0_0_12px_0_rgba(0,0,0,25%)]">
    <a class="cta-link cta-text font-bold rounded-full py-3 px-14 lg:py-4 lg:px-11 block" href="/{{page.lang}}/pages/sign-up">{{ text | default(join) }}</a>
</button>

<style>
    .cta-button {
        background-color: {{ colors.cta.background }};
        color: {{ colors.cta.text }};
    }
    .cta-button:hover {
        background-color: {{ colors.cta.hover }};
        color: {{ colors.cta.text_hover }};
    }
</style>