<!DOCTYPE html>
<html lang="{{ page.lang or 'en' }}">
<head>
    {% include "head.njk" %}
</head>
<body>
    {% if tracking.googleTagManager and tracking.googleTagManager.id %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ tracking.googleTagManager.id }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% set locale = page.lang or 'en' %}
{% include "navbar.njk" %}
    <main class="container mx-auto max-w-5xl xl:max-w-6xl p-4 relative">
        <h1 aria-label={{ title }} class="invisible absolute">
            {{ title }}
        </h1>
        {% include "hero.njk" %}
        {% include "games.njk" %}
        {% include "providers.njk" %}
        {% include "about.njk" %}
        {% include "offers.njk" %}
        {% include "payments.njk" %}
        {% include "theme-design.njk" %}
        {% include "support.njk" %}
        {% include "faq.njk" %}
        <div class="mt-12 text-body"><p>{{ content | safe }}</p></div>
    </main>
    {% include "footer.njk" %}
    <script type="module" src="/assets/script.js"></script>
</body>
</html>

