---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ "/sitemap.xml" | absoluteUrl(site.url) }}

User-agent: *
{%- for page in collections.all %}
{%- if page.data.robots == "disallow"  %}
Disallow: {{ page.url }}
{%- endif %}
{%- endfor %}